$first-color: #fff;
$second-color: #12ffff;

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;

  .title {
    display: flex;
    user-select: none;
    justify-content: center;

    h1 {
      width: fit-content;
      font-size: 70px;
      margin: 0;
      color: white;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
      animation: neon 2s ease-in-out infinite alternate;
    }
  }

  .card_сontainer {
    display: grid;
    width: max-content;
    padding: 0px 10px;
    grid-template-areas: "first second";
    gap: 15px 10px;
  }
}

@keyframes neon {
  from {
    text-shadow:  0 0 25px $first-color, 0 0 36px $first-color, 0 0 30px $second-color,
      0 0 50px $second-color, 0 0 60px $second-color, 0 0 80px $second-color, 0 0 90px $second-color;
  }
  to {
    text-shadow: 0 0 35px $first-color, 0 0 45px $first-color, 0 0 20px $second-color,
      0 0 35px $second-color, 0 0 40px $second-color, 0 0 50px $second-color, 0 0 75px $second-color;
  }
}
